mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/notebook.jpg');
    background-repeat: no-repeat;
    background-image: cover;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem; 
}

.menu-button .mat-icon {
    margin-right: 8px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#myCanvas{
    padding: 25px;
    display:block;
    border: solid thick black;
    border-radius: 25px;
    margin: 25px auto;    
}

h1{
    font-weight: bold;
    font-size: 32px;
}